/* Estilos globales */
body {
    font-family: 'Roboto', sans-serif;  /* Nueva fuente profesional */
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

nav {
    background-color: #0056b3;
    padding: 1rem;
    width: 100%;
}

nav a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
    padding-top: 3rem; /* Para evitar que el carrusel tape contenido */
    max-width: 1200px; /* Limitar el ancho de la interfaz */
    margin: 0 auto; /* Centrar el contenido */
}

/* Contenedor principal para cargar datos */
.cargar-datos-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
.cargar-datos-container form {
    
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.cargar-datos-container label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.cargar-datos-container input[type="file"] {
    margin-bottom: 1rem;
}

.cargar-datos-container button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cargar-datos-container button:hover {
    background-color: #003f8a;
}

/* Contenedor para la tabla */
.tabla-container {
    margin-top: 20px;
}

/* Scroll para la tabla */
.tabla-scroll {
    max-height: 400px; /* Ajusta la altura máxima según necesidad */
    overflow-y: auto; /* Habilita desplazamiento vertical */
    border: 1px solid #ccc;
}

/* Estilo de la tabla */
table {
    width: 100%;
    max-width: 700px; /* Limitar el ancho máximo de la tabla */
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: collapse;
    background-color: #ffffff;  /* Fondo blanco para la tabla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Agregar sombra sutil */
    border-radius: 8px;
    overflow: hidden;  /* Esquinas redondeadas */
}

/* Ajuste del padding de las celdas */
table th, 
table td {
    border: 1px solid #ddd;
    padding: 0.5rem; /* Reducir el padding para hacer las celdas más pequeñas */
    text-align: left;
    font-size: 0.9rem; /* Reducir el tamaño de la fuente */
}

table th {
    background-color: #0056b3;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e9ecef; /* Efecto hover en las filas */
}


/* Botón para eliminar la tabla */
.eliminar-btn {
    margin-top: 20px;
    padding: 0.5rem 1rem;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.eliminar-btn:hover {
    background-color: #c9302c;
}

/* Estilos de mensajes flash */
.success {
    color: #28a745;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* Estilos para las imágenes */
img {
    display: block;
    margin: 20px auto;
    max-width: 50%; /* Limita el tamaño máximo de las imágenes */
    height: auto;
}

/* Estilo para los párrafos */
p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* Estilos para los encabezados */
h2 {
    font-size: 1.8rem;
    color: #0056b3;
    margin-top: 2rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0056b3;
    margin-bottom: 1rem;
    text-align: center;
}

/* Estilos para el carrusel */
.carrusel {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Ajusta según tu preferencia */
    overflow: hidden;
    margin: auto;
}

.carrusel-contenedor {
    display: flex;
    gap: 10px; /* Espacio entre imágenes */
    animation: deslizar 20s infinite linear; /* Duración ajustable */
}

.carrusel-contenedor img {
    width: 100%; /* Las imágenes ocupan el ancho completo del contenedor */
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out; /* Suaviza la transición */
}

/* Animación para deslizar las imágenes */
@keyframes deslizar {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-200% - 40px)); }
}

/* Estilos para el pie de página */
.footer {
    background-color: #f8f9fa; /* Color de fondo claro */
    padding: 20px 0; /* Espaciado arriba y abajo */
    position: fixed; /* Fijar el pie de página en la parte inferior */
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    bottom: 0; /* Fija el pie de página al final de la página */
    text-align: center; /* Centra el contenido del pie de página */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera en la parte superior */
}

.footer p {
    margin: 5px 0; /* Espaciado entre las líneas de texto */
    color: #6c757d; /* Color de texto gris */
}

.footer strong {
    color: #000; /* Color de texto en negritas */
}

/* Contenedor principal */
#graficos-container {
    margin-top: 20px;
}

/* Ajuste de gráficos responsivos */
.tableauPlaceholder, .tableauViz {
    width: 100% !important;
    height: 80vh !important; /* Ocupa 80% de la pantalla */
    max-height: 1000px;
}

/* Espaciado del selector */
#grafico-selector {
    margin: 10px 0 20px 0;
    padding: 5px;
    font-size: 16px;
}
