{% extends "base.html" %}
{% block content %}
<h1>Conoce Acerca de Nuestro Sistema</h1>

<p><strong>Objetivo:</strong> Diseñar e implementar un sistema interactivo de monitoreo y análisis de la calidad del agua utilizando datos públicos proporcionados por la CONAGUA, con el fin de facilitar su interpretación mediante visualizaciones gráficas interactivas en Tableau que promuevan la toma de decisiones informadas.</p>
<p><strong>Misión:</strong> Monitorear y analizar la calidad del agua para mejorar el acceso a recursos hídricos saludables.</p>
<p><strong>Visión:</strong> Ser líderes en el monitoreo de recursos hídricos mediante tecnología de análisis avanzada.</p>

<img src="/static/images/principal.png" alt="Indicadores de calidad del agua" />

<h2><strong>Organigrama del Proyecto</strong></h2>

<div>
    <h4>Director General</h4>
    <p><strong>García Gutiérrez Wendy Sarahi:</strong> Responsable de coordinar las actividades del equipo, desarrollar la documentación teórica y justificar el uso de las bases de datos y tecnologías empleadas en el proyecto.</p>
</div>

<div>
    <h4>Desarrollador de Software y Diseñador de Interfaz</h4>
    <p><strong>Amaro Tellez Angélica Rubi:</strong> Encargada del diseño, desarrollo de la interfaz de usuario, codificación de funcionalidades y estructura del sistema web.</p>
</div>

<div>
    <h4>Analista de Datos y Diseñadora de Visualizaciones</h4>
    <p><strong>Pedraza López Melisa Guadalupe:</strong> Responsable de la limpieza, preprocesamiento y selección de datos abiertos, así como del diseño y creación de gráficos interactivos en Tableau para la visualización de resultados.</p>
</div>

<div>
    <h4>Especialista en Tecnología y Herramientas</h4>
    <p><strong>Peralta Saavedra Joel Adán:</strong> Proporciona conocimientos técnicos sobre las herramientas y tecnologías utilizadas, como Flask, HTML, CSS y Tableau, asegurando su correcta implementación y funcionamiento en el proyecto.</p>
</div>

<img src="/static/images/org.png" alt="Organigrama del proyecto"/>


{% endblock %}
